<section class="sub-top-section footer" style="background-color: #020202; color: #f5f4f5;">
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-4 facility">
                    <h5>WAY2REAL NIDHI LIMITED FACILITIES</h5>
                    <p>The Company commits itself to complete customer satisfaction through efficient, professional and
                        courteous services</p>
                    <!-- <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul> -->
                </div>
                <div class="col-sm-12 col-md-4 news">
                    <h5>BENEFITS FUND NEWS</h5>
                    <div class="newsticker-jcarousellite">
                        <ul>
                            <li>
                                Gold Loan - Eligibility
                                <a href="/gold_loan" style="color: #3da9fc;">Read more</a>
                            </li>
                            <li>
                                Gold Loan - Interest Rate
                                <a href="/gold_loan" style="color: #3da9fc;">Read more</a>
                            </li>
                            <li>
                                Gold Loan
                                <a href="/gold_loan" style="color: #3da9fc;">Read more</a>
                            </li>
                            <li>
                                Deposit interest rate with effec..
                                <a href="/deposit_loan" style="color: #3da9fc;">Read more</a>
                            </li>
                            <li>
                                Gold Loan - Documents
                                <a href="/gold_loan" style="color: #3da9fc;">Read more</a>
                            </li>
                            <li>
                                Gold Loan - Eligibility
                                <a href="/gold_loan" style="color: #3da9fc;">Read more</a>
                            </li>
                            <li>
                                Gold Loan - Interest Rate
                                <a href="/gold_loan" style="color: #3da9fc;">Read more</a>
                            </li>
                            <li>
                                Gold Loan
                                <a href="/gold_loan" style="color: #3da9fc;">Read more</a>
                            </li>
                            <li>
                                Deposit interest rate with effec..
                                <a href="/deposit_loan" style="color: #3da9fc;">Read more</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 quick-link">
                    <h5>QUICK LINKS</h5>
                    <ul class="navbar-nav mr-auto">
                        <!--  <li class="nav-item active">
              <a class="nav-link" href="#"><i class="material-icons dp48">chevron_right</i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="material-icons dp48">chevron_right</i> Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="material-icons dp48">chevron_right</i> Deposits</a>
            </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/gold_loan"><i class="material-icons dp48">chevron_right</i>
                                Loans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/member"><i class="material-icons dp48">chevron_right</i>
                                Members</a>
                        </li>
                        <!-- <li class="nav-item">
              <a class="nav-link" href="#"><i class="material-icons dp48">chevron_right</i> Faq</a>
            </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us"><i class="material-icons dp48">chevron_right</i>
                                Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">Copyright © WAY2REAL 2023. All Rights Reserved &nbsp; | &nbsp; Website Developed by <a
                href="https://www.daylink.in" target="_blank" class="bottom">Daylink</a></div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $(".newsticker-jcarousellite").jCarouselLite({
            vertical: true,
            hoverPause: true,
            visible: 4,
            auto: 500,
            speed: 1000
        });
    });
</script>

<div class="online-payment">
    <ul>
        <li>
            <a href="tel:+919448711111" style="background-color: #3da9fc;">
                <i class="material-icons">phone</i></a>
        </li>
        <!-- <li>
      <a href="javascript:void(0);" title="Click here for online payment"><i class="material-icons">payment</i></a>
    </li> -->
    </ul>
</div>

</body>

</html>
