<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <script type="text/javascript">
            $(function () {
                $('.nav-link').removeClass('active');
                var current = location.pathname;

                $('.nav-link').each(function () {
                    var $this = $(this);
                    // if the current path is like this link, make it active
                    if ($this.attr('href') == current) {
                        $this.addClass('active');
                    };
                });
            });
        </script>


        <section class="banner small">
            <img src="Pictures/about_us-0ba2026f716205f334dbccb87d4c2ca90318eedb706c1d2dd059c53797166131.jpeg"
                alt="About us">
        </section>
        <!-- About Us -->
        <section class="back-light" style="color: #06038D;">
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>ABOUT US</h4>
                        <p>THE COMPANY HAS BEEN FORMED WITH PRIMARY OBJECTIVE BEING UPLIFTING OF THE SOCIAL AND
                            FINANCIAL STATUS
                            OF ITS MEMBERS BY INCULCATING SAVING HABITS AMONGST THEM THROUGH THE SPIRIT OF CO-OPERATION,
                            AND
                            PROVIDING TECHNICAL AND FINANCIAL SUPPORT.</p>
                        <p>THE PRINCIPAL FUNCTION OF THE SOCIETY IS TO RENDER FINANCIAL SERVICES TO ITS MEMBERS AND TO
                            REACH THE
                            NOOK AND CORNER OF THE COUNTRY THROUGH BRANCH EXPANSION WHERE FINANCIAL FACILITIES HAVE NOT
                            REACHED.
                        </p>
                        <p>THE VISION OF THE COMPANY IS TO PROVIDE THE EXISTING MEMBERS A CORRECT WAY TO ACHIEVE ALL
                            THEIR SHORT
                            AND LONG TERM FINANCIAL GOALS. APART FROM THAT, WE ALSO TAKE CARE OF ALL OUR
                            MEMBERS/SHAREHOLDERS
                            WITH AN AIM OF PROVIDING BULK ADVANTAGES SCHEMES. THE COMPANY VISIONS THE ADOPTION OF THE
                            FAST
                            GROWING GLOBAL BANKING SYSTEMS BY KEEPING PACE WITH THE TRADE &amp; COMMERCE, BANKING AND
                            ITES
                            DEPARTMENTS.\n\nTO CREATE SUSTAINABLE ECOSYSTEM OF MEMBERS WITH THE CONCEPT OF CO-OPERATION
                            IS THE
                            KEY VISION WE FOCUS UPON. THE NOTION IS TO PROMOTE FINANCIAL INCLUSION ESPECIALLY TOWARDS
                            THE
                            UNDER-PRIVILEGED AND SOCIALLY EXCLUDED COMMUNITY BY OFFERING AFFORDABLE FINANCIAL SERVICES
                            TO THE
                            MEMBERS AND INCULCATE THE SAVINGS HABIT AMONGST THEM VIA THE PRINCIPLE OF MUTUALITY.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container pt-5 pb-5" style="color: #06038D;">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>OUR VISION</h4>
                        <h4 class="text-center">FROM BRICKS TO BRAND</h4>
                        <p>OUR VISION SERVES AS THE FRAMEWORK FOR OUR ROADMAPS AND GUIDES EVERY ASPECT OF OUR SOCIAL
                            ACTIVITIES
                            BY DESCRIBING WHAT WE NEED TO ACCOMPLISH IN ORDER TO CONTINUE ACHIEVING SUSTAINABLE, QUALITY
                            GROWTH.
                        </p>
                        <p>THE VISION OF WAY2REAL NIDHI LIMITED IS “PUBLIC PROSPERITY” BY OFFERING FINANCIAL SERVICES TO
                            ALL
                            GROUPS OF PEOPLE AND OFFERING EQUAL OPPORTUNITY TO ALL, TO LIVE AN IMPROVED LIFE BY
                            FINANCIAL
                            ENABLEMENT AND EMPOWERMENT. THE MISSION OF THE SOCIETY IS TO CREATE SELF SUFFICIENT
                            SUSTAINABLE
                            ECOSYSTEM OF MEMBERS THROUGH CO-OPERATION.HE SOCIETY IS TO ENABLE FINANCIAL INCLUSION BY
                            PROVIDING
                            AFFORDABLE FINANCIAL SERVICES TO THE UNDER-PRIVILEGED AND SOCIALLY EXCLUDED COMMUNITY, AND
                            INCULCATE
                            THE SAVINGS HABIT AMONG THE COMMON MAN THROUGH INNOVATIVE LOW COST FINANCIAL PRODUCTS AND
                            SERVICES
                            USING CO-OPERATIVE PRINCIPLES, SELF-HELP AND MUTUAL AID.SHWADH</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="back-light" style="color: #06038D;">
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>OUR MISSION</h4>
                        <p>In order to bring the common man on the path of prosperity we emphasize on Operational
                            efficiency,
                            integrity and always put a strong focus on high quality and cost-effective products &amp;
                            services.
                            Constantly creating an environment of a perfect understanding of the customer our each
                            product or
                            service is tailor-made to perfectly suit customer needs. Putting people first is our guiding
                            principle and we believe that this will bring MTS closer to the grassroots, and will make it
                            the
                            preferred choice for all financing requirements amongst customers.
                            We strive to lead We translate these advanced technologies into value for our customers
                            through our
                            professional solutions, services and consulting businesses worldwide. Shape the future of
                            the
                            Internet by creating unprecedented value and opportunity for partners.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container pt-5 pb-5" style="color: #06038D;">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>DREAM AND GOAL</h4>
                        <ul class="list1">
                            <li>Customers in every action, every Day.</li>
                            <li>Growing together, succeeding together. </li>
                            <li>Continuous improvement through efficient &amp;Transparent services.</li>
                            <li>People Development through sustainability programmes.</li>
                            <li>Earning Trust through action.</li>
                            <li>Provide support and empathy to all.</li>
                            <li>Trust in relationship, build relationship.&nbsp; </li>
                            <li>Delighted customers, inspired employees, enlightened partners, Energized Society and
                                healthy
                                environment.</li>
                            <li>Recognizing the worth of individuals.</li>
                            <li>Create Value for All.</li>
                            <li>Making great things happen through innovation and Education. </li>
                            <li>In Short Marking a positive and impressive impact on the world every day.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="back-light">
            <div class="container pt-5 pb-5" style="color: #06038D;">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>CHAIRMAN</h4>
                        <strong>A warm ‘Namashkar’ from <strong style="color:#057b7b;">Mr. </strong> to all my
                            friends.</strong>
                        <p>I welcome you to the mesmerizing world of WAY2REAL NIDHI LIMITED. The business of network
                            marketing
                            was way back started On 1920 and today it has crossed the maximum limits of any other
                            business.
                            It’s gross value is more than 110 billion And its growth is estimated to be more than 300%.
                            Today it has been well evidenced that for an extra income and financial freedom,
                            network marketing is the utmost successful and secure way of obtaining it. With the help of
                            this One
                            way,
                            a common person can become multimillionaire.<br>
                            <br>
                            Almost 500 years ago, Columbus gave challenging to a universally accepted law that the
                            “Earth is
                            Flat”.
                            Though it was practically challenging at that time to claim such a big fact but;
                            Columbus was brave and courageous because of which his discovery gave us a new direction and
                            vision.
                            Just like Columbus, I am offering you a golden opportunity to give a Birth to a new
                            productive
                            vision- to live a successful happy life and to make your dream come true which you are not
                            Able to
                            make due to any un-claimed reason you do not want to share with. It’s not easy to amend your
                            destiny, not in past nor in present.
                            For this you have to sacrifice, acquire followership and of course you need courage.
                            From the core of your heart, when finally you decide to fight and you finalize your success
                            path,
                            you will experience the feeling Of freedom. Doesn’t it feels great when you are the captain
                            of “ship
                            of success”
                            and you possess and control the ship of your destiny. The most important factor is,
                            when you start living your life without compromising with the adverse
                            Situations of life. You enjoy every bit of your life with full of life and feel the
                            happiness in
                            your well-deserved success With WAY2REAL NIDHI LIMITED.
                        </p>
                        <p>To be Successful in WAY2REAL NIDHI LIMITED, you require only two things.
                            First, to believe in what you dream and second firm belief On WAY2REAL NIDHI LIMITED
                            which is a positive way to meet your dreams?
                        </p>
                        <p>My best wishes are always with you, I am with you and the whole WAY2REAL NIDHI LIMITED
                            Management
                            Team is.</p>
                    </div>
                </div>
            </div>
        </section>

        <%- include('../include/_footer') %>
