<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <section class="banner small">
            <img src="Pictures/daily_deposit.jpeg" alt="Daily deposit" />
        </section>
        <section class="loan-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link" href="/saving_account" style="color: #3da9fc;">Savings Deposits</a>
                            <a class="nav-link" href="/fixed_account" style="color: #3da9fc;">Fixed Deposits</a>
                            <a class="nav-link" href="/mis_deposit" style="color: #3da9fc;">MIS Deposits</a>
                            <a class="nav-link" href="/recurring_deposit" style="color: #3da9fc;">Recurring Deposits</a>
                            <a class="nav-link" href="/daily_deposit" style="background-color: #3da9fc;">Daily Deposits</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-gl" role="tabpanel"
                                aria-labelledby="v-pills-gl-tab">
                                <h5><span
                                        style="display: inline-block; background-color: orange;color: white;padding: 5px">
                                        WAY2REAL
                                        NIDHI LIMITED </span><span
                                        style="display: inline-block; background-color: green;color: white;padding: 5px">PRIME
                                        DAILY DEPOSITS
                                        SCHEME(D.D.S)</span></h5>
                                <div class="content" style="color: #06038D">
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;The minimum
                                            denomination of
                                            the scheme is
                                            Rs.500/.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;The company reserves
                                            the
                                            right to reject any
                                            application for opening the account without assigning any reason.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;The company reserves
                                            the
                                            right to
                                            attach/transfer any account to any its branch.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;There will be
                                            necessary
                                            charges to the
                                            defaulters.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Tenure
                                                    of Payment:</b></u></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp; The tenure of the
                                            account
                                            is 12 months and
                                            above.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <hr>
                                    <div class="table-responsive">
                                        <table class="table" border="2" style="border-color: #06038D">
                                            <thead class="table-dark" style="background-color: #06038D;">
                                                <tr>
                                                    <td colspan="6" align="center"><b>PRIME DAILY DEPOSIT</b></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>AMOUNT</th>
                                                    <th>500</th>
                                                    <th>1000</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="6" class="text-center">NO INTEREST UPTO 6 MONTHS</th>
                                                </tr>
                                                <tr>
                                                    <th>AFTER 6 MONTHS</th>
                                                    <th>91500</th>
                                                    <th>183000</th>
                                                </tr>
                                                <tr>
                                                    <th>INTREST IN 6 MONTHS</th>
                                                    <th>1830</th>
                                                    <th>3659.5</th>
                                                </tr>
                                                <tr>
                                                    <th>TOTAL IN 6 MONTHS</th>
                                                    <th>93330</th>
                                                    <th>186660</th>
                                                </tr>
                                                <tr>
                                                    <th>IN 1 YEAR</th>
                                                    <th>182500</th>
                                                    <th>365000</th>
                                                </tr>
                                                <tr>
                                                    <th>INTREST IN 1 YEAR</th>
                                                    <th>3660</th>
                                                    <th>7319</th>
                                                </tr>
                                                <tr>
                                                    <th>TOTAL IN 1 YEAR</th>
                                                    <th>186160</th>
                                                    <th>372319</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Mode
                                                    Of Payment:</b></u></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;
                                            a) All payments to the company shall be made either in cash or by
                                            cheque/draft
                                            against the receipt
                                            countersigned by its &nbsp;&authorized signatory payments by any mode or
                                            media other
                                            than mentioned
                                            above shall be at the member account holder’s own risk. The cheque/draft
                                            shall be
                                            credited in the
                                            name of member Account Holder subject to clearance by the bank.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;
                                            b) Installments are to be paid regularly in each working day. The member
                                            account
                                            holder will have to
                                            deposit 30 days payment in the month.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Issue
                                                    Passbook:</b></u></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;
                                            A passbook will be issued to every Member Account Holder. The Member Account
                                            Holder
                                            shall get the
                                            pass book updated at regular intervals. If any discrepancy or difference in
                                            the
                                            amount is found
                                            between the entries made in the passbook and receipts duly countersigned by
                                            the
                                            authorized signatory
                                            of the branch office bearing seal. Payment shall be made on the basis of
                                            receipts
                                            only.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Maturity:</b></u></span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;
                                            The Member Account Holder shall surrender the passbook and duly signed
                                            maturity form
                                            to the company
                                            and the maturity shall be paid along with interest as per the below
                                            mentioned Chart.
                                            No additional
                                            interest would be paid on the maturity amount, if taken after the scheduled
                                            period.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;
                                            a)Maturity payment of regular accounts:-
                                            On deposit of Rs. 100/- per day Maturity Amount shall be paid to the Member
                                            Account
                                            Holder within 7
                                            days from the demand made with the company as per the following chart(for
                                            daily
                                            mode)
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;
                                            b)Maturity Payment of irregular accounts.
                                            The account where in the member Account Holder has not continued the account
                                            regularly, as specified
                                            in clause (1) above would be treated as irregular Account. The company will
                                            charge
                                            liquidated
                                            damages on these irregular accounts on account of non receipt of deposit
                                            installments in time and
                                            the resultant loss of investment opportunity, etc. The liquidated damages
                                            would be
                                            deducted from or
                                            adjusted against the interest amount payable to the member account holder.
                                            No
                                            deduction of any kind
                                            shall be made from the principal amount deposited by the member account
                                            holder.
                                            Therefore, at the
                                            time of maturity, the payment in these accounts shall be made with interest
                                            as per
                                            the chart
                                            available at the company offices.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Pre
                                                    Mature Closure Of Deposits:</b></u></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span>&nbsp;</span></span>
                                        <span>
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp; Fore closure of
                                            Deposits
                                            will not be
                                            permitted until completion of 3 months From the date of Deposits. Deposits
                                            foreclosed after 3 months
                                            but before 6 months from the date of Deposits no Interest will be paid.
                                            Deposits
                                            foreclosed after 6
                                            months, interest at 2% shall be deducted from the normal rate of Simple
                                            Interest for
                                            the period of
                                            Deposit.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <%- include('../include/_footer') %>
