<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <section class="banner small">
            <img src="Pictures/sliding 2.jpeg" alt="Deposit loan" />
        </section>
        <section class="loan-section">

            <div class="container" style="color: #06038D;">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link" href="/gold_loan">Gold Loan Plans</a>
                            <a class="nav-link" href="/mortgage_loan">Mortgage Loan</a>
                            <a class="nav-link" href="/deposit_loan">Deposit Loan</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-gl" role="tabpanel"
                                aria-labelledby="v-pills-gl-tab">
                                <h5><span
                                        style="display: inline-block; background-color: orange;color: white;padding: 5px">Loan
                                        Against
                                        Deposit (LAD)</span><span
                                        style="display: inline-block; background-color: green;color: white;padding: 5px">Get
                                        a
                                        loan against
                                        your Deposit at low interest rate.</span></h5>
                                <div class="content">
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: #06038D; font-size: 12px"><span
                                                lang="EN-US">In just 24 hours. A hassle-free application process and
                                                guaranteed
                                                approval means
                                                that you get the funds you require without delay. Apply for a WAY2REAL
                                                NIDHI
                                                LIMITED Loan
                                                Against Deposit for the best solution to your financial needs, from
                                                holidays, to
                                                weddings, to
                                                making a large purchase, to emergencies.</span></span></p>
                                    <p><b><u><span
                                                    style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;">Salient
                                                    Features:</span></u></b></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;High Loan Value: For
                                            a
                                            maximum of 85% of the
                                            face value of deposit and including the interest accrued on the deposit.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Minimal
                                            Documentation:Single
                                            page
                                            documentation with guaranteed approval*.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Quick Processing:
                                            Money will
                                            be credited to
                                            your bank account within 24 hours from the sanction & approval.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Flexible Repayment
                                            Options:
                                            Repayment tenure
                                            up to the remaining tenure of the Deposit, post 90 days from the start of
                                            the
                                            Deposit.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;No Extra Charges: No
                                            foreclosure and
                                            part-prepayment charges, to make the loan more affordable for you Fulfil
                                            your
                                            financial needs easily
                                            and quickly.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Min and Max Loan
                                            Size: Every
                                            Member can
                                            avail loan from Rs. 1,000 to a maximum of Rs. 2 Lacs.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Security:Pledge of
                                            Term
                                            Deposit/Recurring
                                            deposit Receipt.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Eligibility
                                                    Criteria for Loan Against Deposit (LAD):</b></u></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Only Members OF
                                            WAY2REAL
                                            NIDHI LIMITED
                                            can apply for WAY2REAL NIDHI LIMITED Loan Against Deposit (LAD).
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Member must have 90
                                            days old
                                            active deposit
                                            scheme (i.e. F.D., R.D., M.I.S or D.D) with WAY2REAL NIDHI LIMITED on date
                                            of
                                            application for
                                            Loan Against Deposit (LAD).
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Interest
                                                    Rates:</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>➢</b>
                                            &nbsp;&nbsp;<b></b>
                                            The rate of
                                            interest on your Loan Against Deposit (LAD) is linked to Deposit Rate
                                            against
                                            Deposits and mentioned
                                            on the sanction letter provided at the time of loan disbursement.</span></p>
                                    <h5><span
                                            style="display: inline-block; background-color: orange;color: white;padding: 5px">Supporting
                                            Documents</span><span
                                            style="display: inline-block; background-color: green;color: white;padding: 5px">Applies
                                            for all
                                            Loan Schemes Offered by WAY2REAL NIDHI LIMITED.</span></h5>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;To abide by the KYC (Know Your Customer) Policy of RBI and
                                            approved KYC
                                            norms of our
                                            Company, we insist to produce one document of identity proof (Such as Ration
                                            Card
                                            with photo,
                                            Driving License, PAN Card, Voter ID card, Passport, Aadhar Card etc.) and
                                            one
                                            document of
                                            residential address proof (Such as Telephone Bill (Should not be more than
                                            two
                                            months old),
                                            Electricity Bill (Should not be more than two months old), Bank account /
                                            Credit
                                            Card Statement
                                            (Should not be more than two months old), Municipal / Local/House Tax Bill /
                                            Receipt, Authentic Rent
                                            Receipt / Lease Document, Letter from reputed employer/ Public
                                            Authority).</span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;Once you submit your Application Form, Demand Promissory Note
                                            and
                                            supporting documents,
                                            we shall give approval within a matter of minutes provided everything is in
                                            order.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;All loan approvals are at the sole discretion of the Branch
                                            Head.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../include/_footer') %>
