<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <section>
            <div class="container pt-5 pb-5" style="color: #06038D">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>DREAM AND GOAL</h4>
                        <ul class="list1">
                            <li>Customers in every action, every Day.</li>
                            <li>Growing together, succeeding together. </li>
                            <li>Continuous improvement through efficient &amp;Transparent services.</li>
                            <li>People Development through sustainability programmes.</li>
                            <li>Earning Trust through action.</li>
                            <li>Provide support and empathy to all.</li>
                            <li>Trust in relationship, build relationship.&nbsp; </li>
                            <li>Delighted customers, inspired employees, enlightened partners, Energized Society and
                                healthy
                                environment.</li>
                            <li>Recognizing the worth of individuals.</li>
                            <li>Create Value for All.</li>
                            <li>Making great things happen through innovation and Education. </li>
                            <li>In Short Marking a positive and impressive impact on the world every day.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../include/_footer') %>
