<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <section class="banner small">
            <img src="/Pictures/" alt="Mis deposit" />
        </section>
        <section class="loan-section">
            <div class="container" style="color: #06038D;">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link" href="/saving_account">Savings Deposits</a>
                            <a class="nav-link" href="/fixed_account">Fixed Deposits</a>
                            <a class="nav-link" href="/mis_deposit">MIS Deposits</a>
                            <a class="nav-link" href="/recurring_deposit">Recurring Deposits</a>
                            <a class="nav-link" href="/daily_deposit">Daily Deposits</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-gl" role="tabpanel"
                                aria-labelledby="v-pills-gl-tab">
                                <h5><span
                                        style="display: inline-block; background-color: orange;color: white;padding: 5px">
                                        WAY2REAL
                                        NIDHI LIMITED </span><span
                                        style="display: inline-block; background-color: green;color: white;padding: 5px">Fixed
                                        Deposit Scheme
                                        (FD)</span></h5>
                                <div class="content">
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: #06038D; font-size: 12px"><span
                                                lang="EN-US">A fixed deposit (FD) is a financial instrument provided by
                                                banks or
                                                NBFCs which
                                                provides investors a higher rate of interest than a regular savings
                                                account,
                                                until the given
                                                maturity date. It may or may not require the creation of a separate
                                                account.</span></span></p>
                                    <hr>
                                    <div class="table-responsive">
                                        <table class="table" border="2" style="color: #06038D; border-color: #06038D;">
                                            <thead class="table-primary">
                                                <tr>
                                                    <td colspan="4" align="center"><b>(On Deposit of Rs. 10000/-)</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>SR.NO.</th>
                                                    <th>Period</th>
                                                    <th>Rate of interest</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <th>12 MONTHS </th>
                                                    <td>8.50%</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <th>24 MONTHS </th>
                                                    <td>9.00%</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <th>36 MONTHS </th>
                                                    <td>10.50%</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <th>60 MONTHS </th>
                                                    <td>12.00%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Terms
                                                    & Conditions:</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>➢</b>
                                            &nbsp;&nbsp;Minimum
                                            FD would be of
                                            Rs.5,000</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>➢</b>
                                            &nbsp;&nbsp;Interest calculation
                                            quarterly compounded.</span></p>

                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>➢</b>
                                            &nbsp;&nbsp;Loan
                                            available against
                                            deposit up to 85% of deposited amount after one month from the date of
                                            deposit.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>➢</b>
                                            &nbsp;&nbsp;Rate of
                                            Interest on loan
                                            against FD would be 1.5% higher than applicable rate of interest to your
                                            deposit.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Pre
                                                    Mature Closure Of Deposits:-</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>➢</b>
                                            &nbsp;&nbsp;Fore
                                            closure of Deposits
                                            will not be permitted until completion of 3 months From the date of
                                            Deposits.
                                            Deposits foreclosed
                                            after 3 months but before 6 months from the date of Deposits no Interest
                                            will be
                                            paid. Deposits
                                            foreclosed after 6 months but before the maturity period a simple SB
                                            interest rate
                                            will be
                                            given.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../include/_footer') %>
