<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <section class="banner small">
            <img src="/Pictures/sliding 2.jpeg" alt="Gold loan" />
        </section>
        <section class="loan-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link" href="/gold_loan">Gold Loan Plans</a>
                            <a class="nav-link" href="/mortgage_loan">Mortgage Loan</a>
                            <a class="nav-link" href="/deposit_loan">Deposit Loan</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9" style="color: #06038D">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-gl" role="tabpanel"
                                aria-labelledby="v-pills-gl-tab">
                                <h5><span
                                        style="display: inline-block; background-color: orange;color: white;padding: 5px">
                                        WAY2REAL
                                        NIDHI LIMITED</span><span
                                        style="display: inline-block; background-color: green;color: white;padding: 5px">GOLD
                                        LOAN</span>
                                </h5>
                                <div class="content">
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: #06038D; font-size: 12px"><span
                                                lang="EN-US">
                                                WAY2REAL NIDHI LIMITED designed to provide liquidity against gold and
                                                gold
                                                Jewelers without
                                                having to sell them. Let your gold help you bring the golden period in
                                                life.
                                                :</span></span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Features
                                                    & Benefits-:</b></u></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Availed for any
                                            amount
                                            between Rs.1,000 to a
                                            maximum of Rs. 2 Lakhs.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Hassle-free quick
                                            processing
                                            of loans.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Minimum
                                            documentation and
                                            quick disbursal.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Simplified
                                            Paperwork.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Easy Payment
                                            options.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;ATL - Anytime
                                            Liquidity.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;No EMI, Service only
                                            Interest and enjoy the
                                            Loan facility.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Terms
                                                    & Conditions:</b></u></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;The rate of interest
                                            will be
                                            @ 14% to 18%
                                            per year.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Avail loan amount
                                            ranging
                                            from Rs. 1000 to 2
                                            Lakhs.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;The valuation of the
                                            gold
                                            ornaments will be
                                            done by WAY2REAL NIDHI LIMITED through authorized value, and the cost of
                                            valuation
                                            will be
                                            borne by borrower..
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Two colored
                                            photographs of
                                            gold ornaments
                                            are required..
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Two colored
                                            photographs of
                                            borrower and
                                            his/her ID proof are required..
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;The loan interest
                                            will be
                                            paid on monthly
                                            basis..
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;In case of
                                            nonpayment of
                                            interest for 12
                                            months, the Gold ornaments will be sold by WAY2REAL NIDHI LIMITED..
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;The expenditure on
                                            sale of
                                            Gold ornaments
                                            plus due loan amount and 5% penalty rest on due amount interest will be
                                            deducted and
                                            balance amount
                                            will be deposited in to loan account..
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;The borrower has to
                                            provide
                                            an affidavit
                                            declaring the ownership of the ornaments..
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;In case the borrower
                                            does
                                            not pay the
                                            interest a penalty of 5% has to be paid along with next interest
                                            installment.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Gold
                                                    Loan - Eligibility:</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>➢</b>
                                            &nbsp;&nbsp;Anyone
                                            who is the member
                                            and owns gold ornaments can avail the loan. (Note: Minors are not eligible.)
                                            To
                                            obtain the loan, you
                                            need to submit your gold jewellery (within the Karat range of 18 to 24 k) at
                                            your
                                            nearest MSMBINL
                                            branches. The loan amount will be sanctioned on the basis of gold valuation
                                            which
                                            involves
                                            verification of its purity. The weight of stones etc. fixed on the ornaments
                                            will be
                                            deducted for
                                            the intention of valuation.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Gold
                                                    Loan - Documents:</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;To abide by the KYC (Know Your Customer) Policy of RBI and
                                            approved KYC
                                            norms of our
                                            Company, we insist to produce one document of identity proof (Such as Ration
                                            Card
                                            with photo,
                                            Driving License, PAN Card, Voter ID card, Passport, Aadhar Card etc.) and
                                            one
                                            document of
                                            residential address proof (Such as Telephone Bill, Electricity Bill, Water
                                            Bill,
                                            Bank account /
                                            Credit Card Statement, Municipal / Local/House Tax Bill / Receipt, Authentic
                                            Rent
                                            Receipt / Lease
                                            Document, Letter from reputed employer/ Public Authority).There are no
                                            end-use
                                            restrictions in gold
                                            loans..</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../include/_footer') %>
