<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <section class="slider-container" style="background-color: #fffffe;">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" alt="Cover Loan" src="/Pictures/sliding 1.jpeg" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" alt="Gold Loan" src="/Pictures/sliding 2.jpeg" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" alt="Property Loan" src="/Pictures/sliding 3.jpeg" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" alt="Fixed Deposits" src="/Pictures/sliding 4.jpeg" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" alt="Saving Account" src="/Pictures/sliding 5.jpeg" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" alt="Recurring Deposit" src="/Pictures/recurring_deposit.jpeg" />
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <div class="container back-white" style="color: #06038D; background-color: #fffffe;">
            <div class="col-sm-12 pt-3 mb-3">
                <h5 style="color: #06038D">About WAY2REAL NIDHI LIMITED</h5>
                <p style="color: #06038D"> WAY2REAL NIDHI LIMITED IS A NIDHI COMPANY REGISTERED WITH THE GOVERNMENT OF
                    INDIA, <b>MINISTRY OF
                        CORPORATE AFFAIRS</b> WITH ITS REGISTERED AND CORPORATE OFFICE IN CTS NO. 4629/1C BHADKAL GALLI.
                    WE
                    AT <b> WAY2REAL NIDHI LIMITED LTD STIMULATE THE MUTUAL GROWTH OF OUR MEMBERS THROUGH TRUST AND
                        RESPONSIBILTY AND IN THIS PROCESS.</b></p>
                <p style="color: #06038D">WE ACCEPT DEPOSITS FROM OUR MEMBERS / SHAREHOLDERS WITHIN THE STIPULATED
                    NORMS ISSUED BY THE MINISTRY
                    OF
                    CORPORATE AFFAIRS. THE FUNDS MOBILIZED ARE UTILIZED TO A GREAT EXTENT FOR ADVANCING OF GOLD LOANS,
                    PROPERTY
                    LOANS, NATIONAL SAVING CERTIFICAT SCHEMES. THUS THE FUNDS ARE FULLY SECURED AND THEREFORE THE
                    INVESTMENT
                    WITH US
                    IS IN VERY SAFER HAVENS. WE BELIEVE THAT THE SUCCESS OF BUSINESS COMES FROM EACH INDIVIDUAL’S
                    CREATIVITY AND
                    TEAM WORK.</p>
                <a href="/about_us" style="color: #3da9fc;">Read More »</a>
            </div>
        </div>
        <section class="content-container" style="color: white; background-color: #fffffe">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="color: red">Our Services</h2>
                    </div>
                    <div class="col-sm-12 col-md-6" style="background-color: #3da9fc;">
                        <h5 style="color: white">Gold Loan Plans</h5>
                        <img alt="Gold Loan Plans" src="/Pictures/box1.jpeg" />
                        <p style="color: white"><span class="font-weight-bold">WAY2REAL NIDHI LIMITED Gold loans may
                                be
                                availed for any amount
                                between Rs.1,000 to a maximum of Rs. 2 Lakhs.</span> Loans are available for periods
                            ranging
                            from one
                            month to one year. You can repay earlier than the scheduled as you desire.</p>
                        <a href="/gold_loan" style="color: #06038D">Read More »</a>
                    </div>
                    <div class="col-sm-12 col-md-6" style="background-color: #3da9fc;">
                        <h5 style="color: white">Mortgage Loan</h5>
                        <img alt="Mortgage Loan" src="/Pictures/box2.jpeg" />
                        <p style="color: white"><span class="font-weight-bold">WAY2REAL NIDHI LIMITED Listen to the
                                Color of your dreams with
                                Mortgage Loan (ML).</span> Are you looking to expand your business/ to get your beloved
                            child
                            married/to
                            give better higher education to your...</p>
                        <a href="/mortgage_loan" style="color: #06038D">Read More »</a>
                    </div>
                    <div class="col-sm-12 col-md-6" style="background-color: #3da9fc;">
                        <h5 style="color: white">Term Deposit</h5>
                        <img alt="Term Deposit" src="/Pictures/box3.jpeg" />
                        <p style="color: white;"><span class="font-weight-bold">WAY2REAL NIDHI LIMITED Depositors can
                                choose from a wide range
                                of
                                deposit products</span> with maturities ranging from 06 to 60 months at competitive
                            rates of
                            interest and
                            with different features to suit the investment needs of individual Members...</p>
                        <a href="/" style="color: #06038D">Read More »</a>
                    </div>
                    <div class="col-sm-12 col-md-6" style="background-color: #3da9fc;">
                        <h5 style="color: white">Savings Deposits</h5>
                        <img alt=" Fixed Deposit" src="/Pictures/box4.jpeg" />
                        <p style="color: white"><span class="font-weight-bold">WAY2REAL NIDHI LIMITED Saving account
                                encourages savings habit among
                                salary earners and others who have fixed income.</span> It enables the depositor to earn
                            income
                            by way of
                            highest interest.</p>
                        <a href="/saving_account" style="color: #06038D">Read More »</a>
                    </div>
                    <div class="col-sm-12 col-md-6" style="background-color: #3da9fc;">
                        <h5 style="color: white"">Recurring Deposits</h5>
                        <img alt=" Recurring Deposit" src="/Pictures/box5.jpeg" />
                        <p style="color: white"><span class="font-weight-bold">WAY2REAL NIDHI LIMITED Recurring
                                deposit
                                account is opened by those
                                who want to save regularly for a certain period of time and earn a higher interest
                                rate.</span>
                            In
                            recurring deposit account Minimum...</p>
                        <a href="/recurring_deposit" style="color: #06038D">Read More »</a>
                    </div>
                    <div class="col-sm-12 col-md-6" style="background-color: #3da9fc;">
                        <h5 style="color: white">Extra Facility in Saving Account 16/01/2019</h5>
                        <img alt="Term Deposit" src="/Pictures/box6.jpeg" />
                        <table class="border-dark">
                            <tr style="color: white">
                                <th>Online Recharge Facility</th>
                            </tr>
                            <tr>
                                <th style="color: white">Money Transfer at Minimal Cost</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>


        <%- include('../include/_footer') %>
