<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <script type="text/javascript">
            $(function () {
                $('.nav-link').removeClass('active');
                var current = location.pathname;

                $('.nav-link').each(function () {
                    var $this = $(this);
                    // if the current path is like this link, make it active
                    if ($this.attr('href') == current) {
                        $this.addClass('active');
                    };
                });
            });
        </script>


        <section class="banner small">
            <img src="/Pictures/members.jpeg" alt="Member 2" />
        </section>
        <section class="loan-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12" style="color: #06038D;">
                        <div class="tab-content" id="v-pills-tabContent" style="text-align: justify;">
                            <div class="tab-pane fade show active" id="v-pills-gl" role="tabpanel"
                                aria-labelledby="v-pills-gl-tab">
                                <p style="text-align: center"><span
                                        style="font-family: Arial, Helvetica, sans-serif; color: red; font-size: 14px; font-weight: bold">
                                        <font face="Arial, Helvetica, sans-serif"><span style="line-height: 18px">FAIR
                                                PRACTICE
                                                CODE</span></font>
                                    </span></p>
                                <p style="text-align: center"><u><span style="color: rgb(0,0,0)"><span
                                                style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #06038D">AS
                                                APPROVED BY THE BOARD OF DIRECTORS</span></span></u></p>
                                <div class="content">
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px"><span
                                                lang="EN-US">A) PREAMBLE / INTRODUCTION</span></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;The Fair Practice
                                            Code (FPC)
                                            has been formulated by WAY2REAL NIDHI LIMITED (the Company) with a view to
                                            institute
                                            fairness and healthy practice of the business of the Company and thereby
                                            creating
                                            cordial relationship between the Company and customer and to foster
                                            confidence in
                                            the investment service system.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;The FPC will be
                                            applicable to
                                            all the offices of the Company including the Head Office, BELAGAVI,
                                            Karnataka, the
                                            Regional Offices located in various centres and the Branches located across
                                            Karnataka. The FPC shall be binding on all the employees and officers of the
                                            Company.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;In this code, the
                                            word
                                            “customer” shall also mean “share holder”/member of the Company and
                                            vice-versa.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <br>
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px"><span
                                                lang="EN-US">B) OBJECTIVES</span></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;The objectives of the
                                            FPC are
                                            as under.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;i) Adopt the best
                                            practices
                                            in dealings with customers
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;ii) Set challenging
                                            benchmarks and strive to achieve high operating standards for ensuring
                                            customer
                                            satisfaction.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iii) Follow
                                            transparent,
                                            fair, ethical and legally tenable practices while conducting business.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iv) Provide all
                                            necessary
                                            information and inputs to customers / prospective customers and promote a
                                            mutually
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;v) Facilitate a
                                            continuously
                                            growing base of satisfied customers while scrupulously avoiding acquisition
                                            of
                                            customers having doubtful credentials or criminal background.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px"><span
                                                lang="EN-US">C) DECLARATIONS & COMMITMENTS</span></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;i) The Company
                                            undertakes to
                                            abide by all applicable laws, regulations and guidelines passed / issued by
                                            the
                                            Regulators and other competent authorities.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;ii) The Company
                                            commits
                                            itself to full customer satisfaction through efficient, professional and
                                            courteous
                                            services across all its offices.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iii) The Company
                                            shall
                                            consistently strive to meet with and improve upon the internally set
                                            benchmarks and
                                            practices and be ahead of the standards prevalent in the industry.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iv) The Company
                                            undertakes
                                            not to discriminate customers on grounds of religion, caste, gender or
                                            language.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;v) The Company will
                                            provide
                                            clear and full information about its products and services to its customers
                                            /
                                            prospective customers and will not resort to any misleading or potentially
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;vi) The Company
                                            undertakes to
                                            desist from introducing any products / services having elements of ‘hidden
                                            charges’
                                            or lack of transparency.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;vii)The Company will
                                            communicate in the local language with the customer and in English at the
                                            request of
                                            the customer
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;viii) The Company
                                            undertakes
                                            to take all possible and reasonable measures to secure the safe custody of
                                            the
                                            security pledged by the customer and to compensate the customer for any
                                            accidental,
                                            inadvertent or fraudulent loss of the security whilst in the custody of the
                                            Company.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;xi) The Company
                                            undertakes
                                            not to take advantage of any unintentional or clerical error made by the
                                            customer
                                            while transacting business.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;x) The Company is
                                            committed
                                            to put in place a system for promptly addressing complaints and suggestions
                                            of the
                                            customers supplemented with a structured Grievance Redressal Mechanism
                                            having an
                                            escalation matrix.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;xi) The Company shall
                                            display
                                            the FPC on all the places of its operation and also make available to the
                                            Customer,
                                            on request, a copy of the FPC on demand.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <br>
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px"><span
                                                lang="EN-US">D)FAIR PRACTICES</span></span></p>
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px"><span
                                                lang="EN-US">(I) LOANS, TERMS &amp; CONDITIONS, INTEREST
                                                RATE</span></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;i) The Company shall
                                            make
                                            available loan application forms in local language to all prospective
                                            customers free
                                            of cost at the concerned branches mentioning also the supporting documents
                                            to be
                                            submitted along with.&nbsp; An acknowledgment for receipt of duly completed
                                            loan
                                            application forms will be given to the customer in all cases. As a matter of
                                            policy
                                            and customer service loan applications are sanctioned / rejected
                                            immediately.
                                            Disbursement of the loan and acceptance of security will be carried out
                                            nearly
                                            simultaneously.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;ii) The Company shall
                                            disclose all relevant information relating to a loan / product such as
                                            eligible loan
                                            amount, interest rate, charges, penal/overdue interest, interest calculation
                                            methodology, rebate on interest etc. before sanction of the loan to enable
                                            the
                                            customer / prospective customer to take an informed decision. The Customer /
                                            prospective customer will also be provided, on request, the detailed terms
                                            and
                                            conditions of the loan before sanction.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iii) The Company
                                            shall ensure
                                            that a loan sanction letter is given to the customer containing all the
                                            terms and
                                            conditions governing the loan facility in the local language or other
                                            language
                                            understood by the customer.&nbsp; The loan sanction letter will also mention
                                            the
                                            loan amount, loan account number, interest rate, charges, loan processing
                                            fees etc.
                                            The loan sanction letter which will bear the signature of the authorized
                                            official of
                                            the company will also serve as a receipt for the security pledged at the
                                            branch by
                                            the customer.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iv) The Company shall
                                            not in
                                            the normal course make any changes / modifications in the terms and
                                            conditions of
                                            the loan, including rate of interest, which could adversely affect the
                                            customer
                                            financially or otherwise. In abnormal circumstances when such changes /
                                            modifications are inevitable, keeping in view the new circumstances,
                                            adequate and
                                            proper notice shall be given to the customer about any such
                                            change/modification.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px"><span
                                                lang="EN-US">(II) MARKETING &amp; PROMOTION</span></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;i) The Company shall
                                            make
                                            available loan application forms in local language to all prospective
                                            customers free
                                            of cost at the concerned branches mentioning also the supporting documents
                                            to be
                                            submitted along with.&nbsp; An acknowledgment for receipt of duly completed
                                            loan
                                            application forms will be given to the customer in all cases. As a matter of
                                            policy
                                            and customer service loan applications are sanctioned / rejected
                                            immediately.
                                            Disbursement of the loan and acceptance of security will be carried out
                                            nearly
                                            simultaneously.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;ii) The Company shall
                                            disclose all relevant information relating to a loan / product such as
                                            eligible loan
                                            amount, interest rate, charges, penal/overdue interest, interest calculation
                                            methodology, rebate on interest etc. before sanction of the loan to enable
                                            the
                                            customer / prospective customer to take an informed decision. The Customer /
                                            prospective customer will also be provided, on request, the detailed terms
                                            and
                                            conditions of the loan before sanction.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iii) The Company
                                            shall ensure
                                            that a loan sanction letter is given to the customer containing all the
                                            terms and
                                            conditions governing the loan facility in the local language or other
                                            language
                                            understood by the customer.&nbsp; The loan sanction letter will also mention
                                            the
                                            loan amount, loan account number, interest rate, charges, loan processing
                                            fees etc.
                                            The loan sanction letter which will bear the signature of the authorized
                                            official of
                                            the company will also serve as a receipt for the security pledged at the
                                            branch by
                                            the customer.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iv) The Company shall
                                            not in
                                            the normal course make any changes / modifications in the terms and
                                            conditions of
                                            the loan, including rate of interest, which could adversely affect the
                                            customer
                                            financially or otherwise. In abnormal circumstances when such changes /
                                            modifications are inevitable, keeping in view the new circumstances,
                                            adequate and
                                            proper notice shall be given to the customer about any such
                                            change/modification.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px"><span
                                                lang="EN-US">III) RECOVERY OF DUES, EXCERCISE OF LIEN &amp; DELIVERY OF
                                                SECURITY</span></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;i) The Company will
                                            not, as a
                                            matter of fair dealing, normally recall the loan before the initially agreed
                                            tenure
                                            except in unanticipated or abnormal circumstances where the Company’s
                                            interests are
                                            adversely affected e.g. when the security value diminishes substantially,
                                            when the
                                            quality of security is not found to be acceptable, due to any regulatory /
                                            government directives etc. In all such cases proper and reasonable notice
                                            shall be
                                            given to the customer recalling the loan before expiry of the normal tenure.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;ii) The Company will
                                            make all
                                            possible soft or persuasive efforts to get the customer to repay the dues
                                            without
                                            resorting to disposal of the security. The Company does not accept nor will
                                            it
                                            encourage the use any coercive or hard measures to recover its dues from the
                                            customer.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iii)The Company will
                                            deliver
                                            the security to the customer immediately upon settlement of the loan in the
                                            same
                                            condition as was at the time of sanction of the loan. In case of any damage
                                            caused
                                            to the security due to mishandling by its employees, the Company shall at
                                            its cost
                                            get the damage repaired or alternately pay reasonable compensation to the
                                            customer
                                            on a case to case basis. If the security has signs of damage thereon, before
                                            being
                                            taken custody of by the Company at the time of sanction of loan, the fact
                                            will be
                                            briefly incorporated in the sanction letter.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iv)The Company will
                                            exercise
                                            only legitimate right of lien over the pledged security or such cash surplus
                                            as may
                                            arise upon settlement of existing loans at any time. Such right of lien
                                            shall arise
                                            only if the customer has any other dues, either directly or as guarantor,
                                            and will
                                            be subject to proper intimation of such right of lien being given to the
                                            customer by
                                            the Company.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;v) The Company shall
                                            issue a
                                            signed and, normally, a system generated receipt for all cash payments made
                                            by the
                                            customer immediately. The Company shall also accept payments vide cheques,
                                            demand
                                            drafts, electronic transfers etc. subject to the condition that return of
                                            the
                                            security will be made only after confirmation of realization.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;vi) Even though the
                                            loan
                                            sanction letter &nbsp;contains all applicable terms and conditions of the
                                            loan the
                                            Company shall, nevertheless, endeavor, on a best effort basis, to send
                                            advices,
                                            reminders etc. regarding due date for payment of interest, principal etc. by
                                            letter,
                                            courier service, telephone , SMS etc.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;vii) The Company
                                            shall, on
                                            demand, provide the customer or his duly authorized representative with a
                                            statement
                                            of the loan account at any time during the currency of the loan or
                                            immediately upon
                                            closure. However, the Company may, at its discretion, require payment of
                                            reasonable
                                            processing charges by the customer for providing statement of account if
                                            such demand
                                            is made 30 calendar days after closure of the account.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;viii) The Company
                                            will resort
                                            to disposal of security only as a last resort and that too after adequate
                                            and proper
                                            notice is served on the customer to repay the dues. Such notice will be as
                                            per the
                                            terms contained in the sanction letter&nbsp; &nbsp;and also in compliance
                                            with
                                            applicable laws and regulatory guidelines. The disposal of the
                                            security&nbsp;
                                            &nbsp;will be taken up through public auction when the customer does not
                                            positively
                                            respond to the communications sent by the Company to close the loan account
                                            along
                                            with interest and other charges.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;ix) Where the Company
                                            proposes to dispose of the security even before the normal tenure of the
                                            loan based
                                            on the rights conferred on the Company vide loan application and loan
                                            sanction
                                            letter adequate and proper notice will be served on the customer before such
                                            action
                                            is initiated for recovery of dues.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;x) The Company&nbsp;
                                            will not
                                            interfere in the affairs of the customers except for the purposes mentioned
                                            in the
                                            terms &amp; conditions of the loan or when constrained to do so due to
                                            inadequate or
                                            false disclosures made by the borrower at the time of putting through the
                                            transactions.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;xi) Where the Company
                                            proposes to dispose of the security even before the normal tenure of the
                                            loan based
                                            on the rights conferred on the Company vide loan application and loan
                                            sanction
                                            letter adequate and proper notice will be served on the customer before such
                                            action
                                            is initiated for recovery of dues.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px"><span
                                                lang="EN-US">(IV) CUSTOMER SERVICE &amp; GRIEVANCE
                                                REDRESSAL</span></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;i) The Company will
                                            implement
                                            all possible steps to prevent and minimize customer complaints / grievances
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;ii) The Company will
                                            facilitate the customer to pay the whole or part of the dues at any of the
                                            branches
                                            of the Company subject to the condition that delivery of the pledged
                                            security shall
                                            be made only at the branch where loan was originally disbursed.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iii) The Company will
                                            put in
                                            place an effective Customer Grievance Redressal mechanism details of which
                                            will be
                                            displayed on the website and in all the branches. The mechanism will specify
                                            interalia the names &amp; designations of the officials with whom complaints
                                            can be
                                            registered, their postal address / telephone numbers/ email address,
                                            escalation
                                            matrix, time limit for acknowledging receipt of complaint, time limit for
                                            dealing
                                            with the complaint etc.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;iv) The Company will
                                            put in
                                            place an effective training system to ensure that employees of the Company
                                            are
                                            customer friendly and do not resort to rude, inappropriate or unethical
                                            behavior.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;v) The Company will
                                            endeavor
                                            to work out and display the time norms for putting through and completing
                                            the
                                            various
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;vi) The Company will
                                            have a
                                            sympathetic approach to the problems faced by the customer especially the
                                            poor and
                                            underprivileged sections.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px"><span
                                                lang="EN-US">(V) MISCELLANEOUS</span></span></p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;i) The Company shall
                                            display
                                            the normal business hours at the respective branches, the list of holidays
                                            and
                                            notify the changes, if any, by way of a notice displayed in the premises of
                                            the
                                            branch or through press notification.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;"></span></b> &nbsp;&nbsp;ii) Personal
                                            information of
                                            the customer will not be shared with unauthorized persons or agencies or
                                            third
                                            parties by the Company. However, the Company will be bound to honour and
                                            comply with
                                            legal or regulatory requirements, if any, in this matter obligating it to
                                            part with
                                            such information even without notice to the customer.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <div class="tab-pane fade" id="v-pills-ml" role="tabpanel"
                                        aria-labelledby="v-pills-ml-tab">
                                        ...</div>
                                    <div class="tab-pane fade" id="v-pills-td" role="tabpanel"
                                        aria-labelledby="v-pills-td-tab">
                                        ...</div>
                                    <div class="tab-pane fade" id="v-pills-sd" role="tabpanel"
                                        aria-labelledby="v-pills-sd-tab">
                                        ...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../include/_footer') %>
