<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <script type="text/javascript">
            $(function () {
                $('.nav-link').removeClass('active');
                var current = location.pathname;

                $('.nav-link').each(function () {
                    var $this = $(this);
                    // if the current path is like this link, make it active
                    if ($this.attr('href') == current) {
                        $this.addClass('active');
                    };
                });
            });
        </script>


        <section class="banner small">
            <img src="/Pictures/sliding 2.PNG" alt="Deposit loan" />
        </section>
        <section class="loan-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link" href="/gold_loan">Gold Loan Plans</a>
                            <a class="nav-link" href="/mortgage_loan">Mortgage Loan</a>
                            <a class="nav-link" href="/deposit_loan">Deposit Loan</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-gl" role="tabpanel"
                                aria-labelledby="v-pills-gl-tab">
                                <h5><span
                                        style="display: inline-block; background-color: orange;color: white;padding: 5px">
                                        WAY2REAL
                                        NIDHI LIMITED LOAN</span><span
                                        style="display: inline-block; background-color: green;color: white;padding: 5px">LOAN
                                        ONLY AGAINST
                                        SECURITY</span></h5>
                                <div class="content" style="color: #06038D">
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Features
                                                    & Benefits-:</b></u></span>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><br>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Attractive Interests
                                            Rates.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Doorstep Service.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Balance Transfer
                                            Facility.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Nominal Prepayment
                                            Charges.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Common
                                                    Requirements for all Applicants:</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;Application form duly
                                            filled in (with photograph of the entire applicant).</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b></b>
                                            &nbsp;&nbsp;Residence and Age
                                            verification, which may be established from the PAN card, Election ID,
                                            Passport,
                                            Drivers license and
                                            Ration card etc.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;Copy of approved plan and sanction letter from local civic
                                            authority.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;Copy of NA permission.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;One/two guarantor/s form/s and salary certificates. - If
                                            guarantor is in
                                            business,
                                            copies of I.T. returns or assessment orders for the last three years are
                                            required.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;Bank
                                            Pass-book of
                                            statements for the last one year.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;Latest
                                            salary
                                            slip/statement showing all deductions in case of employed applicants.</span>
                                    </p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;Certified
                                            copies of Balance
                                            Sheets and Profit and Loss accounts, IT acknowledgments, advance tax
                                            challans (for
                                            company / firm
                                            and personal account) for the last three years in case of self employed
                                            applicants.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;Memorandum/Articles of
                                            Association for companies, partnership deeds for firms and a brief profile
                                            of your
                                            company/ firm in
                                            case of self employed applicants..</span></p>

                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>Additional
                                                    Requirement:</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>A.
                                                    (In case of purchase from builder)</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;Copy of
                                            Agreement for
                                            sale.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;Copy of
                                            registration
                                            receipt.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;Copy of sanctioned plan & sanction letter of the competent
                                            authorities.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;Copy of NA permission/ULC order.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;Copies of receipts of payments already made.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;NOC from builders in our format.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>B.
                                                    (In case of direct allotment in a Co-operative Housing
                                                    Society)</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;Allotment letter.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;Share
                                            certificate, Society
                                            registration certificate.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;Copy of sale/lease deed in favor of the society.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;NOC from society in our format.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;Possession letter in original.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: red; font-size: 12px;"><u><b>C.
                                                    (In case of resale)</b></u></span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;Copy of
                                            all previous vendors
                                            agreements duly stamped and registered and the registration receipts.
                                            (Original to
                                            be given before
                                            disbursement).</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b>✓</b>
                                            &nbsp;&nbsp;NOC
                                            from Society/Builder in
                                            our format.</span></p>
                                    <p><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span><span lang="EN-US"><b><span
                                                    style="color: green;">✓</span></b>
                                            &nbsp;&nbsp;Original Share Certificate.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../include/_footer') %>
