<%- include('../include/_header') %>
    <%- include('../include/_navbar') %>

        <section class="banner small">
            <img src="/Pictures/sliding 3.PNG" alt="Recurring deposit" />
        </section>
        <section class="loan-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link" href="/saving_account">Savings Deposits</a>
                            <a class="nav-link" href="/fixed_account">Fixed Deposits</a>
                            <a class="nav-link" href="/mis_deposit">MIS Deposits</a>
                            <a class="nav-link" href="/recurring_deposit">Recurring Deposits</a>
                            <a class="nav-link" href="/daily_deposit">Daily Deposits</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9" style="color: #06038D;">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-gl" role="tabpanel"
                                aria-labelledby="v-pills-gl-tab">
                                <h5><span
                                        style="display: inline-block; background-color: orange;color: white;padding: 5px">
                                        WAY2REAL
                                        NIDHI LIMITED</span><span
                                        style="display: inline-block; background-color: green;color: white;padding: 5px">RECURRING
                                        DEPOSITS</span></h5>
                                <div class="content">
                                    <p style="text-align: justify"><span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: #06038D; font-size: 12px"><span
                                                lang="EN-US">Recurring deposit account is opened by those who want to
                                                save
                                                regularly for a certain
                                                period of time and earn a higher interest rate. In recurring deposit
                                                account
                                                Minimum amount
                                                Rs.50/- and multiplies of 100/- is accepted every month for a specified
                                                period
                                                (1 year to five
                                                year) and the total amount is repaid with interest at the end of the
                                                particular
                                                period.</span></span></p>
                                    <br>
                                    <h5><span
                                            style="display: inline-block; background-color: orange;color: white;padding: 5px">MONTHLY
                                            RECCURING DEPOSIT</span></h5>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Bond issued.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Doorstep service.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Collection update
                                            via sms.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Loan against deposit
                                            is
                                            applicable*.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <p>
                                        <span
                                            style="line-height: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(102,102,102); font-size: 12px"><span
                                                lang="EN-US">&nbsp;</span></span>
                                        <span lang="EN-US">
                                            <b><span style="color: green;">✓</span></b> &nbsp;&nbsp;Account closing
                                            charge and
                                            withdrawal charge
                                            applicable.
                                            <o:p></o:p>
                                        </span>
                                    </p>
                                    <div class="table-responsive">
                                        <table class="table" border="2" style="border-color: #06038D;">
                                            <thead class="table-primary">
                                                <tr>
                                                    <td colspan="6" align="center"><b>MONTHLY RD</b></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>AMOUNT</th>
                                                    <th>500</th>
                                                    <th>1000</th>
                                                    <th>1500</th>
                                                    <th>2000</th>
                                                    <th>2500</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="6" class="text-center">NO INTEREST UPTO 6 MONTHS</th>
                                                </tr>
                                                <tr>
                                                    <th>AFTER 6 MONTHS</th>
                                                    <th>3000</th>
                                                    <th>6000</th>
                                                    <th>9000</th>
                                                    <th>12000</th>
                                                    <th>15000</th>
                                                </tr>
                                                <tr>
                                                    <th>INTEREST IN 6 MONTHS</th>

                                                    <th>124</th>
                                                    <th>248</th>
                                                    <th>372</th>
                                                    <th>496</th>
                                                    <th>620</th>
                                                </tr>
                                                <tr>
                                                    <th>TOTAL IN 6 MONTHS</th>
                                                    <th>3124</th>
                                                    <th>6248</th>
                                                    <th>9372</th>
                                                    <th>12496</th>
                                                    <th>15620</th>
                                                </tr>
                                                <tr>
                                                    <th>IN 1 YEAR</th>
                                                    <th>6000</th>
                                                    <th>12000</th>
                                                    <th>18000</th>
                                                    <th>24000</th>
                                                    <th>30000</th>
                                                </tr>
                                                <tr>
                                                    <th>INTEREST IN 1 YEAR</th>
                                                    <th>248</th>
                                                    <th>496</th>
                                                    <th>744</th>
                                                    <th>992</th>
                                                    <th>1240</th>
                                                </tr>
                                                <tr>
                                                    <th>TOTAL IN 1 YEAR</th>
                                                    <th>6248</th>
                                                    <th>12496</th>
                                                    <th>18744</th>
                                                    <th>24992</th>
                                                    <th>31240</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../include/_footer') %>
